{% extends 'guestlayout.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
<br>
<br>
<br>
<br>
<br>
<br>

	<!-- About -->


<link rel="stylesheet" type="text/css" href="/static/css/appointment.css">
    <div class="container">
  <div class="jumbotron">
      <h1> {{ title }}</h1>
    <p>fg ergerg e </p>
</div>
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">A few words about us</div>
					<div class="section_subtitle">too choose from</div>
				</div>
			</div>
			<div class="row about_row row-eq-height">
				<div class="col-lg-4">
					<div class="logo">
						<a href="#">Serv<span> IT +</span></a>
					</div>
					<div class="about_text_highlight"> Serv IT provides smart healthcare services for people of all ages in Singapore. </div>
					<div class="about_text">
						<p>Everyone deserves to be at their best condition.
                            We promise to bring you safe, effective, and medically-proven aesthetic treatments at affordable prices</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_text_2">
						<p> <b>ServIT </b> is one of the smart-Healthcare clinic. We aim to provide a fast and effective treatment through the use of technology VIA smart devices.
                        You can easily see your appointment status without having to book through our hotline. Too tired of queueing up? get a queue number online! Viewing doctor's health notes and E-receipts which aims to save the environment.
                        </p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_image"><img src="/static/images/about_1.jpg" alt=""></div>
				</div>
			</div>
	</div>
    </div>
    </div>



{% endblock %}


