{% extends 'layout.html' %}
{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<link rel="stylesheet" type="text/css" href="/static/css/appointment.css">
<div class="jumbotron">
  <div class="container text-center">
      <div id="head">
   <h1>{{ title }}</h1>
          </div>

    <div id="head-p"> <p> Doctor Opening Hours List </p> </div>

  </div>
</div>



  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> <h3> Doctor List </h3> </div>
    <div id="appointment_box"></div>
   <div id="head-p"> <p> Doctor Opening Hours Slot  </p> </div>
              <table class ="table table-bordered">
            <tbody>
            <thead>
            <tr>
               <th> Monday Reserved Values </th>
                <th> Tuesday Reserved Values</th>

            </tr>
            </thead>
        <tbody>
            {% for list in doctor.get_ %}
            <tr>

            <td> {{ doctor[list] }}
            </td>
            <td>{{list.get_tue_reserved}}  </td>
 {% endfor %}
    </tbody>
    </table>

</div>
  </div>
{% endblock %}
