{% extends 'guestlayout.html' %}


{% block body %}
<!-- Home -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


	<div class="home",id="bgimg">
		<div class="background_image" style="background-image:url(/static/images/index_hero.jpg"></div>

		<!-- Header -->



		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title"> Medical Services that you can trust</div>
							<div class="home_text">We cure for a better future.</div>
							<div class="button home_button"><a href="/login"><span>Patient Login </span><span>Your Space</span></a></div>
							<div class="button home_button"><a href="/aboutus"><span>About Us </span><span>What We Do</span></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}

