{% extends 'layout.html' %}
{% block body %}
<!-- Home -->


    <br>
    <br>
    <br>

    <br>


	<div class="home",id="bgimg">
		<div class="background_image" style="background-image:url(/static/images/index_hero.jpg"></div>

		<!-- Header -->



		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title"> Medical Services that you can trust</div>
							<div class="home_text">
								Trustworthy.<br>
								Affordable.<br>
								Convenient.<br>
Bringing General Practitioner <br>and Aesthetic services to your doorstep.</div>
							<div class="button home_button"><a href="/aboutus"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Info Boxes -->
	<div class="info">
		<div class="container">
			<div class="row row-eq-height">

				<!-- Info Box -->
				<div class="col-lg-3 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="/static/images/info_1.jpg" alt=""></div>
						<div class="info_content">
							<div class="info_title"> Get Queue Number</div>
							<div class="info_text"> Take a queue number before others to save time.</div>
							<div class="button info_button"><a href="getaqueuenumber"><span> read more </span> <span> read more </span></a></div>
						</div>
					</div>
				</div>

				<!-- Info Box -->
				<div class="col-lg-3 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="/static/images/book.jpg" alt=""></div>
						<div class="info_content">
							<div class="info_title">Book Appointment</div>
							<div class="info_text"> Manage your time by booking an appointment!  </div>
							<div class="button info_button"><a href="bookanappointment"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>

				</div>
                <div class="col-lg-3 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="/static/images/info_2.jpg" alt=""></div>
						<div class="info_content">
							<div class="info_title">View E-Receipt</div>
							<div class="info_text">View your E-Receipt, Save your time.</div>
							<div class="button info_button"><a href="viewallreceipt"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>
                <div class="col-lg-3 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="/static/images/medicalrecord.jpg" alt=""></div>
						<div class="info_content">
							<div class="info_title">View Health Notes</div>
							<div class="info_text"> Check your prescription and past medical records. </div>
							<div class="button info_button"><a href="onlinehealthnotes"><span>read more</span><span>read more</span></a></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">Our Services</div>
					<div class="section_subtitle">to choose from</div>
				</div>
			</div>
			<div class="row icon_boxes_row">

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_1.svg" alt=""></div>
							<div class="icon_box_title">Family Medicine</div>
						</div>
						<div class="icon_box_text"></div>
                        <p>We offer a comprehensive range of primary healthcare services through our clinics located across Singapore.</p>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_2.svg" alt=""></div>
							<div class="icon_box_title">Gastroenterology</div>
						</div>
						<div class="icon_box_text"></div>
                        We provide an integrated radiology facility to support a holistic approach to medical treatment by the various medical centres.
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_3.svg" alt=""></div>
							<div class="icon_box_title">Medical Lab</div>
						</div>
						<div class="icon_box_text"></div>
                     We offer a diverse range of Health Screening Packages, catering to different age groups, at attractive prices.
                        Your medical history, requirements and concerns are important to us.
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_4.svg" alt=""></div>
							<div class="icon_box_title">Dental Care</div>
						</div>
						<div class="icon_box_text"> </div>
                             Besides routine dental check-ups and a comprehensive range of treatments and services,
                        our Dental Clinics help you understand how to improve your oral health and prevent problems in the future.
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_5.svg" alt=""></div>
							<div class="icon_box_title">Specialist Services</div>
						</div>
						<div class="icon_box_text"></div>
                        We provide comprehensive and accessible specialist medical care to its patients,
                        covering several medical and surgical specialties in many locations and private hospitals in Singapore
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"><img src="/static/images/icon_6.svg" alt=""></div>
							<div class="icon_box_title">Neurology</div>
						</div>
						<div class="icon_box_text"></div>
                        We are specialized in the latest non-surgical cosmetic techniques, providing our clients with the transformative cosmetic
                        results they desire in a professional and comfortable environment.
					</div>
				</div>
            </div>
        </div>
    </div>



{% endblock %}

