<div>


                   <p>
                    <a href="/inventory" class="btn btn-primary my-2">Medicine</a>
                    <a href="/medtools" class="btn btn-secondary my-2">Medical Tools</a>
                  </p>


        <div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li class="active"><a href="/inventory">Inventory</a></li>
													<li><a href="/low">Low Inventory </a></li>
													<li><a href="/excess">Excess Inventory </a></li>
													<li><a href="/additem">Add Item </a></li>
												</ul>
											</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

</div>
