<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div class="logo">
										<a href="#" style="text-decoration:none;">Serv<span>IT + </span></a>
									</div>

									<div class="header_top_extra d-flex flex-row align-items-center justify-content-start ml-auto">

										<div class="header_top_nav">
											<ul class="d-flex flex-row align-items-center justify-content-start">
                                                <li><span class="glyphicon glyphicon-user"></span> {{ session['name'] }}
      <li><a href="/logout">Log Out</a>

											</ul>
										</div>
									</div>
									<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li class=""><a href="/home">Home</a></li>
													<li><a href="/myprofile"> Profile </a></li>

													<li><a href="/getnumber">Get Queue Number </a></li>
													<li><a href="/bookanappointment"> Book An Appointment </a></li>
													<li><a href="/allreports/patient">Online Health Notes </a></li>
													<li><a href="/feedback"> Contact Us </a></li>
												</ul>
											</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
